body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputField {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50px;
  height: 30px;
  width: auto;
  padding: 2px 5px;
  font-size: large;
}

.inputField:focus {
  outline: none; /* entfernt falschen Rand am InputField;*/
  border: 2px solid black;
  border-radius: 50px;
}

.btn {
  padding: 0px;
  border-radius: 50px;
  border: none;
  color: white;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.btn.neutral {
  background: #316fb7;
}

.btn.positive {
  background: green;
}
.btn.negative {
  background: red;
}

.btn.neutral:hover {
  background-color: darkblue;
}

.buttontext {
  margin: 0%;
  padding: 0%;
}


.field {
  padding: 10px;
  display: grid;
}

.field label {
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}
