.grid-box {
  width: max-content;
  height: max-content;
  margin-left: 350px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: #316fb7;
  border-style: solid;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 100px 100px 100px;
  grid-template-areas:
    "id titel titel "
    "beschreibung beschreibung beschreibung "
    "auswirkung software status"
    "loesung loesung loesung"
    "datum - autor";
}

p {
  margin-top: 8px;
  text-align: center;
}

#einzelFehlerTitel {
  text-align: center;
  width: 450px;
}

#einzelFehlerID {
  margin-top: 16px;
}

#beschreibung {
  width: 700px;
}

#loesungbox {
  width: 700px;
}

.box-ID {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  grid-area: id;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

.box-Titel {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: titel;
  margin: 10px;
  border-radius: 20px;
}

.box-Beschreibung {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: beschreibung;
  margin: 10px;
  border-radius: 20px;
}

.box-Software {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: software;
  margin: 10px;
  border-radius: 20px;
  vertical-align: center;
}

.box-Auswirkung {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: auswirkung;
  margin: 10px;
  border-radius: 20px;
  vertical-align: center;
}

.box-Status {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: status;
  margin: 10px;
  border-radius: 20px;
  vertical-align: center;
}

.box-Loesung {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: loesung;
  margin: 10px;
  border-radius: 20px;
  vertical-align: center;
}

.box-Autor {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: autor;
  margin: 10px;
  border-radius: 20px;
  vertical-align: center;
}

.box-Datum {
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  grid-area: datum;
  margin: 10px;
  border-radius: 20px;
  vertical-align: center;
}
