.fehlerliste {
  margin-left: 20px;
  padding: 0px;
}

.fehler {
  padding: 0px;
  width: max-content;
  vertical-align: middle;
  border-radius: 10px;
}

#Fehler-ID {
  width: 81px;
  margin: 0;
  padding: 5px;
}

#Fehler-Titel {
  width: 321px;
  margin: 0;
  padding: 5px;
}

.Fehler-Tabellen {
  margin: 0;
  width: 203px;
  padding: 5px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: 0px;
}

.flex-item {
  background-color: white;
  text-align: center;
  margin: 5px;
  border-style: solid;
  border-color: #316fb7;
  border-radius: 10px;
  border-width: 2px;
}

.flex-container-kopf {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: max-content;
  height: 55px;
}
.flex-item-kopf {
  background-color: white;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #316fb7;
  margin: 5px;
  border-style: solid;
  border-color: #316fb7;
  border-radius: 10px;
}

#kopftitel {
  font-size: 20px;
  width: 320px;
  margin: 0;
  padding: 5px;
}

.kopf {
  margin: 0;
  width: 200px;
  padding: 5px;
}

#Suchtabelle-kopfid {
  width: 80px;
  margin: 0px;
  padding: 5px;
}

#linie {
  margin-top: 0px;
  margin-left: 30px;
  width: 1065px;
  border: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #316fb7,
    rgba(0, 0, 0, 0)
  );
}
