.grid-box {
  width: 900px;
  margin: 20px;
  border-radius: 20px;
  border-color: #316fb7;
  border-style: solid;

  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 50px 50px 50px 150px 50px 50px 50px 50px 50px 50px;
}

.einFehlerUeber {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}

.einzelFehlerInhalt {
  margin-top: 8px;
  padding: 0px;
  text-align: center;
  width: 288px;
  font-size: 18px;
}

#einzelFehlerTitel {
  margin-top: 8px;
  padding: 0px;
  text-align: center;
  width: 587px;
  font-size: 18px;
}

#einzelFehlerLoesung {
  margin-top: 8px;
  padding: 0px;
  width: 885px;
  text-align: center;
  font-size: 18px;
}

#einzelFehlerBeschreibung {
  margin-top: 10px;
  padding: 0px;
  width: 885px;
  text-align: center;
  font-size: 18px;
}

#Uid {
  grid-row-start: 1;
  grid-column-start: 1;
  margin: 2px;
}

.box-ID {
  grid-row-start: 2;
  grid-column-start: 1;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  margin: 2px;
  border-radius: 20px;
  text-align: center;
}

#Utitel {
  grid-row-start: 1;
  grid-column-start: 2;
  margin: 2px;
}

.box-Titel {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
}

#Ubeschreibung {
  grid-row-start: 3;
  grid-column-start: 1;
  margin: 2px;
}

.box-Beschreibung {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
}

#Usoftware {
  grid-row-start: 5;
  grid-column-start: 2;
  margin: 2px;
}

.box-Software {
  grid-row-start: 6;
  grid-column-start: 2;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
  vertical-align: center;
}

#Uauswirkung {
  grid-row-start: 5;
  grid-column-start: 1;
  margin: 2px;
}

.box-Auswirkung {
  grid-row-start: 6;
  grid-column-start: 1;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
  vertical-align: center;
}

#Ustatus {
  grid-row-start: 5;
  grid-column-start: 3;
  margin: 2px;
}

.box-Status {
  grid-row-start: 6;
  grid-column-start: 3;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
  vertical-align: center;
}

#Uloesung {
  grid-row-start: 7;
  grid-column-start: 1;
  margin: 2px;
}

.box-Loesung {
  grid-row-start: 8;
  grid-column-start: 1;
  grid-column-end: 4;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
  vertical-align: center;
}

#Uautor {
  grid-row-start: 9;
  grid-column-start: 1;
  margin: 2px;
}

.box-Autor {
  grid-row-start: 10;
  grid-column-start: 1;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
  vertical-align: center;
}

#Udatum {
  grid-row-start: 9;
  grid-column-start: 3;
  margin: 2px;
}

.box-Datum {
  grid-row-start: 10;
  grid-column-start: 3;
  border-style: solid;
  border-radius: 10px;
  border-color: #316fb7;
  background: white;
  margin: 2px;
  border-radius: 20px;
  vertical-align: center;
}
