.ErstellContainer{
  margin: 10px 20px;
  width: 1130px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 100px 100px auto;
}
select {
  /* ... */
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
}

#Ueberschrift{
  
  grid-column-start: 1;
  grid-row-start: 1;
  text-align: left;
  margin: 10px 50px
}



#TitelContainer{
  grid-column-start: 1;
  grid-row-start: 2;
  margin: 50px 0px;
}
#TitelLabel{
  grid-column-start: 1;
  grid-row-start: 2;
  margin: 30px 10px;
  font-weight: 700;
}



#BeschreibungContainer{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 50px 20px;
}
#BeschreibungLabel{
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 30px 30px;
  font-weight: 700;
}


#AuswirkungContainer{
  
  grid-column-start: 1;
  grid-row-start: 3;
  margin: 50px 0px;
}
#AuswirkungLabel{
  grid-column-start: 1;
  grid-row-start: 3;
  margin: 30px 10px;
  font-weight: 700;
}


#LoesungContainer{
  grid-column-start: 2;
  grid-row-start: 3;
  margin: 50px 20px; 
}
#LösungLabel{
  grid-column-start: 2;
  grid-row-start: 3;
  margin: 30px 30px;
  font-weight: 700;
}


#StatusContainer{
  grid-column-start: 1;
  grid-row-start: 4;
  margin: 50px 0px;
}
#StatusLabel{
  grid-column-start: 1;
  grid-row-start: 4;
  margin: 30px 10px; 
  font-weight: 700;
}


#SoftwareidContainer{
  grid-column-start: 2;
  grid-row-start: 4;
  margin: 50px 20px;
}
#SoftwareIDLabel{
  grid-column-start: 2;
  grid-row-start: 4;
  margin: 30px 30px;
  font-weight: 700;
}

#AnwenderidContainer{
  grid-column-start: 1;
  grid-row-start: 5;
  margin: 0px 0px;
}
#AnwenderIDLabel{
  grid-column-start: 1;
  grid-row-start: 5;
  margin: -20px 10px;
  font-weight: 700;
}


#btnFehlerErstellen{
  width: 200px;
  height: 50px;
  grid-column-start: 2;
  grid-row-start: 5;
  margin: 0px 210px ;
}