.Menu {
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0;
}

.Menu-Leiste {
  margin: 10px;
  font-size: 40px;
  background: none;
}

.nav-menu {
  background-color: #316fb7;
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 80px;
}

.nav-text a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 18px;
}
.nav-text a:hover {
  background-color: lightskyblue;
  padding-left: 10px;
  width: 210px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #316fb7;
  font-size: 22px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
