.toolbar {
  height: 45px;
  padding: 10px 20px;
  background-color: #316fb7;
  display: flex;
  justify-content: flex-start;
}

.toolbar-item {
  color: white;
  font-size: 22px;
  position: absolute;
  bottom: 20px;
  font-weight: bold;
  left: 75px;
  display: flex;
  border-style: solid;
  border-color: white;
  border-radius: 18px;
  border-width: 3px;
  padding: 18px;
  width: max-content;
}

.toolbar-item:hover {
  background-color: lightskyblue;
  border-radius: 18px;
}
