.toolbar {
  height: 45px;
  padding: 10px 20px;
  background-color: #316fb7;
  display: flex;
  justify-content: flex-end;
}

.toolbar-item {
  color: white;
  margin: 8px 20px;
}

.toolbar-menu {
  margin-right: 820px;
}
